@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Charts Page";
}

<div>
    <h2>This is my Charts Example page</h2>

    <div>
        <ul>
            <li><a href="@Url.Action("StackedBarChart", "Charts")">Stacked Bar Chart</a></li>
        </ul>
    </div>
</div>



